{
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "jsxSingleQuote": true,
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false,
  "tailwindStylesheet": "./src/styles/App.css",
  "bracketSameLine": true,
  "plugins": ["prettier-plugin-organize-imports"]
}
