@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';
@import '@fontsource-variable/jetbrains-mono';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --radius: 2px;

  --background: oklch(0.1 0 0);
  --foreground: oklch(0.99 0 0);
  --card: oklch(1 0 0 / 5%);
  --card-foreground: oklch(0.99 0 0);
  --popover: oklch(0.2 0 0);
  --popover-foreground: oklch(0.99 0 0);
  --primary: oklch(0.77 0.2 131);
  --primary-foreground: oklch(0.2 0.03 130);
  --secondary: oklch(28% 0.006 135);
  --secondary-foreground: oklch(0.99 0 0);
  --muted: oklch(1 0 0 / 20%);
  --muted-foreground: oklch(1 5% 110 / 70%);
  --accent: oklch(0.3 0 0);
  --accent-foreground: oklch(0.99 0 0);
  --destructive: oklch(0.7 0.3 22.2);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0.2 130 / 15%);
  --ring: oklch(57% 0.07 127);
  --chart-1: oklch(0.9 0.18 127);
  --chart-2: oklch(0.85 0.21 129);
  --chart-3: oklch(0.77 0.2 131);
  --chart-4: oklch(0.65 0.18 132);
  --chart-5: oklch(0.53 0.14 132);
  --sidebar: oklch(0.2 0 0);
  --sidebar-foreground: oklch(0.99 0 0);
  --sidebar-primary: oklch(0.85 0.21 129);
  --sidebar-primary-foreground: oklch(0.27 0.07 132);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.99 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(52% 0.04 138);

  /* Severities */
  --emergency: oklch(42% 0.16 28);
  --alert: oklch(55.488% 0.21577 29.71);
  --critical: oklch(55.776% 0.18289 33.848);
  --error: var(--destructive);
  --warning: oklch(80% 0.16 105);
  --notice: oklch(69.245% 0.14759 249.455);
  --info: var(--primary);
  --debug: var(--muted-foreground);
}

a {
  font-weight: 500;
  color: var(--primary);
  text-decoration: inherit;
}
a:hover {
  color: var(--primary);
}

body {
  margin: 0;
  display: flex;
}

button {
  cursor: pointer;
  transition: all 0.1s ease;
}
button:hover {
  border-color: var(--primary);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@theme inline {
  --font-sans: 'JetBrains Mono Variable', monospace;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 0px);
  --radius-2xl: calc(var(--radius) + 2px);
  --radius-3xl: calc(var(--radius) + 4px);
  --radius-4xl: calc(var(--radius) + 8px);

  --color-emergency: var(--emergency);
  --color-alert: var(--alert);
  --color-critical: var(--critical);
  --color-error: var(--error);
  --color-warning: var(--warning);
  --color-notice: var(--notice);
  --color-info: var(--info);
  --color-debug: var(--debug);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background font-sans text-foreground;
  }
  html {
    @apply font-sans;
  }
}
